body {
  min-height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgb(82, 82, 82);
}

canvas {
  height: 100%;
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
}